<h1 class="header">Gotham City Hospital Appoitment Center</h1>
  <div class="boards">
  <% @users.each do |user| %>
    <%= link_to user.full_name, user_path(user), class:"user chart"%>
  <% end %>        
  </div>
</div>
