<h1>Physicians</h1>
<%= link_to 'Add Physicians', new_physician_path %>
<br />
<ul>
  <% @physicians.each do |physician| %>
    <li>
      <%= link_to physician.name, physician%>
    </li>
  <% end %>
</ul>
