<nav>
  <div class="navigation">
    <div class="nav-links">
      <%= link_to 'Doctors', physicians_path %>
      <%= link_to 'Add Doctors', new_physician_path %>
      <%= link_to 'Patients', users_path %>
      <%= link_to 'Add Patient', new_user_path %>
    </div>
  </div>
</nav>